.blog {

    &--header {
        background: url(./img/backgrounds/page_title_bg.png) center bottom no-repeat;
        background-size: cover;
        height: 348px;
        margin-bottom: 40px;
        padding-top: 12px;
        padding-bottom: 88px;

        h1, .blog--header__title {
            color: $color9;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 120%;
            text-align: center;
            margin: 80px 0 30px;

            @media(max-width: 767px) {
                font-size: 1.75rem;
                margin-top: 60px;
            }
        }

        .breadcrumbs {
            color: $color8;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 24px;
            text-align: center;
            a {
                color: inherit;
                transition: opacity .3s ease;
                &:hover {
                    opacity: 1;
                }
            }
            > * {
                opacity: 0.7;
                &.current {
                    opacity: 1;
                }
            }

            .divider:not(:last-child) {
                color: inherit;
                margin: 0 10px;
                opacity: 1;

                @include p_el(before, 5px, 5px) {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $color10;
                    border-radius: 50%;
                    transition: 0.3s;
                }
            }
        }
    }

    &--content {

        @media(max-width: 767px) {
            margin-top: -80px;
        }


    }

    &--list {
        @extend %flex;
        flex-wrap: wrap;

        @media(max-width: 767px) {
            display: block;
        }

        .post {
            width: 50%;
            padding: 0 15px;
            margin-bottom: 40px;

            @media(max-width: 767px) {
                width: 100%;
            }

            .post-thumbnail {
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                }
            }

            .blog-post_content {
                padding: 24px 0 16px;
            }

            .meta-wrapper {
                margin-bottom: 8px;
                font-weight: 400;
                padding-top: 0;
                font-size: 1rem;
                color: $color11;
                letter-spacing: -0.2px;
            }

            .blog-post_title {
                display: block;
                clear: both;
                word-wrap: break-word;
                font-size: 1.875rem;
                font-weight: 900;
                line-height: 42px;
                letter-spacing: -.3px;
                margin: 0 0 8px;

                a {
                    color: $color8;

                    &:hover, &:focus {
                        color: $color5;
                    }
                }
            }

            .button-read-more {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                margin-left: 0;
                margin-bottom: 0;
                font-size: 1.125rem;
                font-weight: 900;
                padding-right: 28px;
                line-height: 34px;
                color: $color5;

                svg {
                    margin-left: 4px;
                    vertical-align: baseline;
                    path {
                        fill: $color5;
                        transition: fill .3s ease;
                    }
                }

                &:hover, &:focus {
                    color: $color8;
                    svg {
                        path {
                            fill: $color8;
                        }
                    }
                }
            }
        }
    }

    &--single {
        .post-thumbnail {
            display: block;
            img {
                width: 100%;
                height: auto;
                border-radius: 30px;
            }
        }

        .entry-header {
            max-width: 90ch;
            margin: 0 auto;
            padding: 24px 0 16px;

            .entry-meta {
                margin-bottom: 8px;
                font-weight: 900;
                padding-top: 0;
                font-size: 1rem;
                color: $color11;
                letter-spacing: -0.2px;
            }

            h1 {
                display: block;
                clear: both;
                word-wrap: break-word;
                font-size: 2.25rem;
                font-weight: 900;
                line-height: 42px;
                color: $color8;
                letter-spacing: -.3px;
                margin: 0 0 8px;
            }
        }

        .entry-content {
            max-width: 90ch;
            margin: 0 auto;

            h2, h3 {
                font-size: 1.875rem;
                color: $color8;
                margin: 30px 0;

                @media(max-width: 767px) {
                    margin: 15px 0;
                }
            }
        }
    }
}

