.page {

    &--header {
        background: url(./img/backgrounds/page_title_bg.png) center bottom no-repeat;
        background-size: cover;
        height: 348px;
        margin-bottom: 40px;
        padding-top: 12px;
        padding-bottom: 88px;

        h1, .shop--header__title {
            color: $color9;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 120%;
            text-align: center;
            margin: 80px 0 30px;

            @media(max-width: 767px) {
                font-size: 1.75rem;
                margin-top: 60px;
            }
        }

        .breadcrumbs {
            color: $color8;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 24px;
            text-align: center;
            a {
                color: inherit;
                transition: opacity .3s ease;
                &:hover {
                    opacity: 1;
                }
            }
            > * {
                opacity: 0.7;
                &.current {
                    opacity: 1;
                }
            }

            .divider:not(:last-child) {
                color: inherit;
                margin: 0 10px;
                opacity: 1;

                @include p_el(before, 5px, 5px) {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $color10;
                    border-radius: 50%;
                    transition: 0.3s;
                }
            }
        }
    }

    &--content {

        @media(max-width: 767px) {
            margin-top: -80px;
        }

        .woocommerce-error, .woocommerce-info, .woocommerce-message {
            background-color: transparent;
            border: 1px solid $color14;
            border-radius: 30px;
            font-weight: 800;

            &:before {
                height: 22px;
                top: 0;
                bottom: 0;
                margin: auto;
                @media(max-width: 767px) {
                    top: 16px;
                    bottom: auto;
                }
            }
        }

        .post-edit-link {
            font-size: 1rem;
            font-weight: 900;
            color: $color5;

            &:hover, &:focus {
                color: $color8;
            }
        }

        table.shop_table {
            border: 0;
            border-radius: 0;
            margin: 0;
            font-size: 1.125rem;
            border-collapse: collapse;

            thead {
                tr {
                    border: 0;

                    th {
                        padding: 6px 0;
                        border: 0;
                        font-size: 1.125rem;
                        font-weight: 900;
                        line-height: 2;
                        background-color: $color5;
                        color: $color1;

                        &:first-child {
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
                        &:last-child {
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                        }
                        &.product-name {
                            padding-left: 10px;
                            text-align: left;
                        }
                        &.product-thumbnail {
                            min-width: 32px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:first-child {
                        td {
                            border-top: 0;
                        }
                    }
                    td {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        padding-left: 0;
                        padding-right: 0;
                        border: 0;
                        vertical-align: middle;
                        border-top: 1px solid #f7f7f7;

                        @media(max-width: 767px) {
                            padding: 9px 12px;
                        }

                        &.product-remove {
                            padding-left: 2px;
                            padding-right: 2px;
                            text-align: center;
                        }
                        &.product-thumbnail {
                            white-space: nowrap;
                            width: 12%;
                            padding-left: 10px;
                            img {
                                width: 80px;
                                border: 2px dashed $color5;
                                border-radius: 20px;
                                height: auto;
                                max-width: 100%;
                            }
                        }
                        &.product-name {
                            font-size: 1.5rem;
                            font-weight: 900;

                            @media(max-width: 767px) {
                                font-size: 1.125rem;
                            }

                            a {
                                color: $color8;
                                &:hover, &:focus {
                                    color: $color7;
                                }
                            }
                        }
                        &.product-quantity {
                            @media(max-width: 767px) {
                                &:before {
                                    line-height: 60px;
                                }
                            }
                        }

                        .woocommerce-Price-amount {
                            font-size: 1.5rem;
                            font-weight: 900;
                            color: $color11;
                        }

                        .qty-wrapper {
                            display: inline-block;
                            position: relative;
                            border: 1px solid #ebe9e5;
                            border-radius: 28px;
                            padding: 0 30px;
                            font-weight: 900;

                            input[type=number] {
                                display: inline-block;
                                @include size(60px, 58px);
                                border: 0;
                                padding: 0 0 0 15px;
                                font-size: 1.5rem;
                                font-weight: 900;
                                color: $color8;
                                appearance: textfield;
                                vertical-align: middle;
                                background: transparent;
                            }

                            button {
                                cursor: pointer;
                                display: block;
                                position: absolute;
                                top: 0;
                                @include size(39px, 100%);
                                background: none;
                                border: 0;
                                font-size: 1.75rem;
                                color: $color11;
                                transition: color .3s ease;

                                &:hover, &:focus {
                                    color: $color5;
                                }

                                &.qtyminus_stat {
                                    left: 0;
                                }
                                &.qtyplus_stat {
                                    right: 0;
                                }
                            }
                        }

                    }
                }
            }

            .actions {
                .button__wrapper {
                    display: none;
                }
            }
        }

        a.remove {
            display: inline-block;
            @include size(24px);
            margin: 0;
            border-radius: unset;
            font-size: 24px;
            line-height: 22px;
            color: $color4 !important;
            text-shadow: none;
            background: transparent;
            vertical-align: middle;
            cursor: pointer;

            &:hover, &:focus {
                background-color: transparent !important;
                color: darken($color4, 25%) !important;
            }
        }


        .cart-collaterals {

            .cart_totals {
                float: none;
                width: 370px;
                margin-left: auto;
                min-width: 370px;
                margin-bottom: 30px;
                border: 0;
                border-radius: 30px;
                padding: 0;
                background: $color3;
                box-shadow: none;

                @media(max-width: 767px) {
                    margin-top: 15px;
                }

                @media(max-width: 600px) {
                    width: 100%;
                    min-width: 0;
                }

                table {
                    margin: 0;
                    padding: 0;
                    border-radius: 0;
                    border: 0;
                    tr {
                        border: 0;

                        &:first-child {
                            th {
                                padding-bottom: 15px;
                            }
                        }

                        &.shipping {
                            th {
                                line-height: 28px;
                                vertical-align: top;
                            }
                            td {
                                ul#shipping_method li label, p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 120%;
                                    margin: 0 0 20px 0;
                                }
                                ul#shipping_method li label, .woocommerce-Price-amount {
                                    font-size: 1.125rem;
                                    font-weight: 900;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                    th {
                        width: 1%;
                        border: 0;
                        font-size: 1.125rem;
                        color: $color8;
                        white-space: nowrap;
                        vertical-align: middle;
                        text-align: left;
                        padding: 20px 0 20px 37px;
                    }

                    td {
                        border: 0;
                        padding: 20px 37px 20px 10px;
                        text-align: right;

                        @media(max-width: 767px) {
                            padding: 20px 15px;
                        }
                    }
                }
            }

            .button__wrapper {
                .button {
                    padding: 12px 25px;
                    font-size: 1.125rem;

                }
            }

        }

        .cart_totals_buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width: 600px) {
                display: block;
                text-align: center;
                .wc-proceed-to-checkout {
                    margin: auto;
                }
            }
        }

        .wc-proceed-to-checkout {
            max-width: 250px;
            width: 100%;
            .button__wrapper {
                display: block;
            }
        }

        .button__wrapper {
            display: inline-block;
            position: relative;
            text-align: center;

            .button {
                display: block;
                margin: 0;
                border: 0;
                border-radius: 30px;
                padding: 12px 25px;
                font-size: 1.125rem;
                font-weight: 900;
                line-height: 1.5;
                text-align: center;
                cursor: pointer;
                width: 100%;
                background-color: $color4;
                color: $color1;

                &.checkout-button {
                    background-color: $color7;
                    &:hover, &:focus {
                        background-color: $color7;
                    }
                }

                &:hover, &:focus {
                    background-color: $color4;
                    color: $color1;
                    + svg {
                        stroke: $color1;
                        animation-play-state: running;
                    }
                }

                &[disabled] {
                    pointer-events: none;
                    color: $color1;
                    padding: 12px 25px;
                    cursor: not-allowed;
                }
            }
            svg {
                @include position(absolute, 0 null null 0);
                @include size(100%);
                pointer-events: none;
                animation: dashed_border_running 20s linear infinite both;
                animation-play-state: paused;
                stroke-width: 2;
                stroke-dasharray: 9, 5;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                fill: none;
                transition: 0.3s;
                stroke: transparent;
            }
        }


        .woocommerce-checkout {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            @media(max-width: 992px) {
                display: block;
            }

            .woocommerce-NoticeGroup-checkout {
                width: 100%;

                .woocommerce-error, .woocommerce-info, .woocommerce-message {
                    display: block;
                    strong {
                        color: #b81c23;
                    }
                }
            }

            .checkout--profile, .checkout--products {
                width: 50%;
                padding: 40px 50px;

                @media(max-width: 992px) {
                    width: 100%;
                    padding: 20px 15px;
                }

                h3 {
                    margin: 0 0 30px;
                    font-size: 1.75rem;
                }
            }
            .checkout--profile {
                background-color: $color3;
                border-radius: 30px;

                .form-row {
                    margin-bottom: 15px;

                    &.form-row-first, &.form-row-last {
                        @media(max-width: 479px) {
                            float: none;
                            width: 100%;
                        }
                    }

                    label {
                        font-size: 1.125rem;
                        font-weight: 800;
                        color: $color8;
                    }
                    input, textarea {
                        display: block;
                        width: 100%;
                        height: 52px;
                        max-width: 100%;
                        margin: 0;
                        border: 1px solid $color14;
                        border-radius: unset;
                        padding: 10px 20px;
                        font-family: inherit;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                        outline: 0;
                        border-radius: 26px;
                        transition: 0.3s;
                        background: $color1;
                    }

                    textarea {
                        height: 120px;
                        min-height: 120px;
                        resize: none;
                    }

                    .select2-container {
                        border: 1px solid $color14;
                        border-radius: 30px;
                        padding: 4px 20px;
                        background-color: $color1;

                        &.select2-container--default .select2-selection--single {
                            padding: 0;
                            outline: none;
                            margin: 0;
                            width: 100%;
                            max-width: 100%;
                            display: block;
                            font-size: 14px;
                            line-height: 1.7;
                            border-width: 0;
                            border-style: solid;
                            font-family: inherit;
                            height: 40px;
                            border-width: 0;
                            border-style: solid;
                            border-color: #dddddd;
                            border-radius: 0;
                            background: transparent;
                            text-align: left;
                            appearance: none;
                            .select2-selection__arrow {
                                right: 15px;
                                height: 45px;
                            }

                            .select2-selection__rendered {
                                line-height: 40px;
                                padding-left: 0;
                                padding-right: 0;
                                color: #767676;
                            }
                        }
                    }

                    .woocommerce-input-wrapper {
                        strong {
                            display: block;
                            width: 100%;
                            height: 52px;
                            max-width: 100%;
                            margin: 0;
                            border: 1px solid $color14;
                            border-radius: unset;
                            padding: 10px 20px;
                            font-family: inherit;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            outline: 0;
                            border-radius: 26px;
                            transition: 0.3s;
                            background: $color1;
                        }
                    }
                }

                .wc-ukr-shipping-np-fields {
                    h3 {
                        font-size: 1.125rem;
                        font-weight: 800;
                        margin: 0 0 15px;
                    }
                }
            }
            .checkout--products {
                table.shop_table {

                    @media(max-width: 479px) {
                        margin: 0 0 0 -20px;
                    }

                    thead tr th.product-name {
                        padding-left: 30px;
                    }
                    tbody tr td {
                        &.product-name {
                            padding-left: 30px;
                            font-size: 1.25rem;
                            color: $color8;
                            .product-quantity {
                                font-weight: 400;
                                color: $color4;
                            }
                        }
                    }

                    th + th,
                    th + td,
                    td + td {
                        width: 30%;
                    }

                    tfoot tr {
                        th {
                            padding-left: 30px;
                            text-align: left;
                            border-top: 0;
                            font-weight: 400;
                            color: $color8;
                        }
                        th, td {
                            border-top: 1px solid #f7f7f7;
                        }
                        td {
                            padding: 9px 0;
                            ul#shipping_method li label {
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 120%;
                                margin: 0 0 20px 0;
                            }
                            .woocommerce-Price-amount {
                                font-size: 1.125rem;
                                font-weight: 900;
                                color: $color11;
                                line-height: 28px;
                            }
                        }
                        &.order-total {
                            td {
                                .woocommerce-Price-amount {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                #payment {
                    background-color: transparent;
                    margin-top: 30px;
                    padding: 0;

                    ul.payment_methods {
                        border: 0;
                        margin: 0;
                        padding: 0;

                        label {
                            display: block;
                            font-size: 1.5rem;
                            font-weight: 900;
                            color: $color8;
                        }
                        div.payment_box {
                            padding: 0;
                            margin: 0 0 30px;
                            font-size: 1rem;
                            background: none;
                            border: 0;

                            &:before {
                                display: none;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }

                    div.place-order {
                        background-color: $color3;
                        border-radius: 30px;
                        padding: 30px;

                        p {
                            margin: 0 0 30px;
                        }

                        .place-order-button {
                            text-align: right;
                            @media(max-width: 479px) {
                                text-align: center;
                                margin: 0 -20px;
                            }
                        }

                        .button__wrapper {
                            display: inline-block;
                            position: relative;
                            text-align: center;

                            .button {
                                display: block;
                                margin: 0;
                                border: 0;
                                border-radius: 30px;
                                padding: 12px 25px;
                                font-size: 1.125rem;
                                font-weight: 900;
                                line-height: 1.5;
                                text-align: center;
                                cursor: pointer;
                                width: 100%;
                                background-color: $color7;
                                color: $color1;

                                &:hover, &:focus {
                                    + svg {
                                        stroke: $color1;
                                        animation-play-state: running;
                                    }
                                }

                                &[disabled] {
                                    pointer-events: none;
                                    color: $color1;
                                    padding: 12px 25px;
                                    cursor: not-allowed;
                                }
                            }
                            svg {
                                @include position(absolute, 0 null null 0);
                                @include size(100%);
                                pointer-events: none;
                                animation: dashed_border_running 20s linear infinite both;
                                animation-play-state: paused;
                                stroke-width: 2;
                                stroke-dasharray: 9, 5;
                                stroke-dashoffset: 0;
                                stroke-linecap: round;
                                fill: none;
                                transition: 0.3s;
                                stroke: transparent;
                            }
                        }
                    }
                }
            }
        }

        .woocommerce-shipping-destination {
            display: none;
        }

        .woocommerce-order {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media(max-width: 992px) {
                display: block;
            }

            .woocommerce-order-thanks, .woocommerce-order-info {
                width: 50%;
                padding: 40px 50px;

                @media(max-width: 992px) {
                    width: 100%;
                    padding: 20px 15px;
                }

                h2 {
                    margin: 0 0 20px;
                }

            }

            .woocommerce-order-thanks {
                background-color: $color3;
                border-radius: 30px;

                .woocommerce-thankyou-order-details {
                    list-style: none;
                    padding: 0;
                    margin: 0 0 70px;

                    @media(max-width: 479px) {
                        margin: 0;
                    }

                    li {
                        position: relative;
                        padding-right: 60%;
                        margin-bottom: 15px;
                        strong, p {
                            @include position(absolute, null null null 45%);
                        }
                        &.woocommerce-order-overview__payment-method {
                            margin-bottom: 45px;
                        }
                        p {
                            width: 55%;
                            font-size: 0.875rem;
                            margin: 10px 0 0;
                            line-height: 120%;
                        }

                        @media(max-width: 479px) {
                            padding-right: 0;
                            strong, p {
                                position: static;
                                width: auto;
                            }
                        }
                    }
                }

                .col2-set .col-1, .col2-set .col-2 {
                    float: none;
                    width: 100%;
                }
                .col2-set .col-2 {
                    margin-top: 30px;
                }
                .woocommerce-customer-details {
                    margin: 0;
                    address {
                        padding: 20px;
                        border: 0;
                        border-radius: 30px;
                        background-color: #f1eee8;
                    }

                    .woocommerce-customer-details--phone {
                        padding-left: 40px;
                        font-weight: 800;
                        line-height: 23px;
                        &:before {
                            content: '';
                            background-image: url(./img/icons/contacts_icon_02.png);
                            background-size: 30px 23px;
                            @include size(30px, 23px);
                            margin-left: -40px;
                        }
                    }

                    .woocommerce-customer-details--email {
                        padding-left: 40px;
                        font-weight: 800;
                        line-height: 17px;
                        &:before {
                            content: '';
                            background-image: url(./img/icons/contacts_icon_03.png);
                            background-size: 30px 17px;
                            @include size(30px, 17px);
                            margin-left: -40px;
                        }
                    }
                }
            }

            .woocommerce-order-info {
                table.shop_table {

                    @media(max-width: 479px) {
                        margin: 0 0 0 -20px;
                    }

                    thead tr th.product-name {
                        padding-left: 30px;
                    }
                    tbody tr td {
                        &.product-name {
                            padding-left: 30px;
                            font-size: 1.25rem;
                            color: $color8;
                            .product-quantity {
                                font-weight: 400;
                                color: $color4;
                            }
                        }
                    }
                    th + th,
                    th + td,
                    td + td {
                        width: 30%;
                    }
                    tfoot tr {
                        th {
                            padding-left: 30px;
                            text-align: left;
                            border-top: 0;
                            font-weight: 400;
                            color: $color8;
                        }
                        th, td {
                            border-top: 1px solid #f7f7f7;
                        }
                        td {
                            padding: 9px 0;
                            ul#shipping_method li label {
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 120%;
                                margin: 0 0 20px 0;
                            }
                            .woocommerce-Price-amount {
                                font-size: 1.125rem;
                                font-weight: 900;
                                color: $color11;
                                line-height: 28px;
                            }
                            small.shipped_via {
                                display: block;
                            }
                        }
                        &.order-total {
                            td {
                                .woocommerce-Price-amount {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

body .select2-dropdown {
  border-color: #e4e4e4;
  border-radius: 0;
  ul li:before {
    display: none; }
}

.contact_form {
    &-container {
        @extend %flex;
        margin-top: 60px;

        @media(max-width: 992px) {
            display: block;
        }
    }

    &-left {
        width: 35%;

        #mapcanvas {
            position: relative;
            min-height: 450px;
            width: calc(100% + 155px);
            border-radius: 30px;
            background-color: $color1;
        }

        @media(max-width: 992px) {
            width: 100%;

            #mapcanvas {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    &-right {
        width: 65%;
        background-color: $color3;
        padding: 40px 40px 40px 200px;
        border-radius: 30px;

        @media(max-width: 992px) {
            width: 100%;
            padding: 20px;
        }

        h2 {
            font-size: 2.5rem;
            line-height: 120%;
            margin: 0 0 8px;
            + p {
                margin: 0 0 40px;
            }
        }

        .contact-form-row {
            margin-bottom: 16px;
        }

        input, textarea {
            display: block;
            width: 100%;
            height: 52px;
            max-width: 100%;
            margin: 0;
            border: 1px solid $color14;
            border-radius: unset;
            padding: 10px 20px;
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            outline: 0;
            border-radius: 26px;
            transition: 0.3s;
            background: $color1;
        }

        textarea {
            height: 120px;
            min-height: 120px;
            resize: none;
        }

        span.wpcf7-not-valid-tip {
            margin-top: 8px;
            margin-left: 22px;
            font-size: 0.875rem;
            color: #ff5722;
        }

        div.wpcf7-response-output {
            padding: 10px 20px;
            font-size: 0.875rem;
            border-radius: 30px;
        }

        .button__wrapper {
            display: inline-block;
            position: relative;
            text-align: center;

            .wpcf7-submit {
                display: block;
                margin: 0;
                border: 0;
                border-radius: 30px;
                padding: 12px 25px;
                font-size: 1.125rem;
                font-weight: 900;
                line-height: 1.5;
                text-align: center;
                cursor: pointer;
                width: 100%;
                background-color: $color7;
                color: $color1;

                &:hover, &:focus {
                    ~ svg {
                        stroke: $color1;
                        animation-play-state: running;
                    }
                }

                &[disabled] {
                    pointer-events: none;
                    color: $color1;
                    padding: 12px 25px;
                    cursor: not-allowed;
                }
            }
            .ajax-loader {
                display: none !important;
            }
            svg {
                @include position(absolute, 0 null null 0);
                @include size(100%);
                pointer-events: none;
                animation: dashed_border_running 20s linear infinite both;
                animation-play-state: paused;
                stroke-width: 2;
                stroke-dasharray: 9, 5;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                fill: none;
                transition: 0.3s;
                stroke: transparent;
            }
        }

    }


}

.o_i_d {
    &-container {
        @extend %flex--start__vertical;
        padding: 0 60px;

        @media(max-width: 992px) {
            display: block;
            padding: 0 15px;
        }
    }
    &-left, &-right {
        width: 50%;
        padding: 0 16px 0 0;

        @media(max-width: 992px) {
            width: 100%;
            padding: 0;
            max-width: 60ch;
            margin: 0 auto;
        }
    }
    &-left {
        .post-thumbnail {
            position: relative;
            @include p_el(before, 100%, 100%) {
                @include position(absolute, -40px null null -40px);
                background-color: $color1;
                border: 2px dashed $color5;
                border-radius: 30px;
                z-index: 0;
            }
            img {
                position: relative;
                z-index: 1;
                @include size(100%, auto);
                border-radius: 30px;
                border: 1px solid $color7;
            }
            @media(max-width: 767px) {
                margin-left: 30px;
            }
        }
    }
    &-right {
        padding: 0 0 0 24px;
        @media(max-width: 992px) {
            padding: 24px 0 0;
        }

        .h {
            font-size: 2.5rem;
            line-height: 120%;
            margin: 0 0 24px;

            span.h--2row__orange {
                white-space: nowrap;
                background-image: linear-gradient(to top, rgba($color7, 0.5), rgba($color7, 0.5));
            }

            @media(max-width: 1200px) {
                font-size: 2.25rem;
            }
            @media(max-width: 767px) {
                font-size: 2rem;
            }
        }

    }
}

.contacts-container {
    ul {
        @extend %flex;
        list-style: none;
        padding: 0;

        @media(max-width: 767px) {
            display: block;
        }

        li {
            position: relative;
            width: 32.33%;
            padding: 100px 30px 30px 30px;
            border-radius: 30px;
            border: 2px dashed;
            text-align: center;
            transition: transform .3s ease;
            color: $color2;

            @media(max-width: 767px) {
                width: 100%;
                margin-bottom: 16px;
            }

            @include p_el(before, null, null) {
                @include position(absolute, 30px 0 null 0);
                margin: auto;
            }

            &:hover {
                transform: translateY(-16px);
            }

            strong {
                display: block;
                font-size: 1.5rem;
                font-weight: 900;
                color: $color8;
                margin-bottom: 8px;
            }

            a {
                color: $color2;
                border-bottom: 1px dashed transparent;
                transition: border .3s ease;
                &:hover, &:focus {
                    color: $color2;
                    border-color: $color2;
                }
            }

            br {
                display: none;
            }

            &:nth-of-type(1) {
                border-color: $color10;
                &:before {
                    background-image: url(./img/icons/contacts_icon_01.png);
                    background-size: 42px 46px;
                    @include size(42px, 46px);
                }
            }
            &:nth-of-type(2) {
                border-color: $color5;

                &:before {
                    background-image: url(./img/icons/contacts_icon_02.png);
                    background-size: 59px 45px;
                    @include size(59px, 45px);
                }
            }
            &:nth-of-type(3) {
                border-color: $color6;

                &:before {
                    background-image: url(./img/icons/contacts_icon_03.png);
                    background-size: 77px 43px;
                    @include size(77px, 43px);
                }
            }
        }
    }
}