.page {

    &--header {
        background: url(./img/backgrounds/page_title_bg.png) center bottom no-repeat;
        background-size: cover;
        height: 348px;
        margin-bottom: 40px;
        padding-top: 12px;
        padding-bottom: 88px;

        h1, .shop--header__title {
            color: $color9;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 120%;
            text-align: center;
            margin: 80px 0 30px;

            @media(max-width: 767px) {
                font-size: 1.75rem;
                margin-top: 60px;
            }
        }

        .breadcrumbs {
            color: $color8;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 24px;
            text-align: center;
            a {
                color: inherit;
                transition: opacity .3s ease;
                &:hover {
                    opacity: 1;
                }
            }
            > * {
                opacity: 0.7;
                &.current {
                    opacity: 1;
                }
            }

            .divider:not(:last-child) {
                color: inherit;
                margin: 0 10px;
                opacity: 1;

                @include p_el(before, 5px, 5px) {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $color10;
                    border-radius: 50%;
                    transition: 0.3s;
                }
            }
        }
    }

    &--content {
        
        .woocommerce-error, .woocommerce-info, .woocommerce-message {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            background-color: transparent;
            border: 1px solid $color14;
            border-radius: 30px;
            font-weight: 800;

            @media(max-width: 767px) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            &:before {
                height: 22px;
                top: 0;
                bottom: 0;
                margin: auto;
                @media(max-width: 767px) {
                    top: 16px;
                    bottom: auto;
                }
            }
            .button {
                @extend .button;
                float: none;
                padding: 10px 20px;
                background-color: $color5;
                color: $color1;
                margin-left: auto;
                white-space: nowrap;

                &:hover, &:focus {
                    background-color: $color7;
                    color: $color1;
                }

                @media(max-width: 767px) {
                    margin: 8px 0 0;
                }
            }
        }
        
        table.shop_table {
            border: 0;
            border-radius: 0;
            margin: 0;
            font-size: 1.125rem;
            border-collapse: collapse;
            
            thead {
                tr {
                    border: 0;
                    
                    th {
                        padding: 6px 0;
                        border: 0;
                        font-size: 1.125rem;
                        font-weight: 900;
                        line-height: 2;
                        background-color: $color5;
                        color: $color1;
                        
                        &:first-child {
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
                        &:last-child {
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                        }
                        &.product-name {
                            padding-left: 10px;
                            text-align: left;
                        }
                        &.product-thumbnail {
                            min-width: 32px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:first-child {
                        td {
                            border-top: 0;
                        }
                    }
                    td {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        padding-left: 0;
                        padding-right: 0;
                        border: 0;
                        vertical-align: middle;
                        border-top: 1px solid #f7f7f7;

                        &.product-remove {
                            padding-left: 2px;
                            padding-right: 2px;
                            text-align: center;
                        }
                        &.product-thumbnail {
                            white-space: nowrap;
                            width: 12%;
                            padding-left: 10px;
                            img {
                                width: 80px;
                                border: 2px dashed $color5;
                                border-radius: 20px;
                                height: auto;
                                max-width: 100%;
                            }
                        }
                        &.product-name {
                            font-size: 1.5rem;
                            font-weight: 900;
                            
                            a {
                                color: $color8;
                                &:hover, &:focus {
                                    color: $color7;
                                }    
                            }
                        }

                        .woocommerce-Price-amount {
                            font-size: 1.5rem;
                            font-weight: 900;
                            color: $color11;
                        }

                        .qty-wrapper {
                            display: inline-block;
                            position: relative;
                            border: 1px solid #ebe9e5;
                            border-radius: 28px;
                            padding: 0 30px;
                            font-weight: 900;

                            input[type=number] {
                                display: inline-block;
                                @include size(60px, 58px);
                                border: 0;
                                padding: 0 0 0 15px;
                                font-size: 1.5rem;
                                font-weight: 900;
                                color: $color8;
                                appearance: textfield;
                                vertical-align: middle;
                                background: transparent;
                            }

                            button {
                                cursor: pointer;
                                display: block;
                                position: absolute;
                                top: 0;
                                @include size(39px, 100%);
                                background: none;
                                border: 0;
                                font-size: 1.75rem;
                                color: $color11;
                                transition: color .3s ease;

                                &:hover, &:focus {
                                    color: $color5;
                                }

                                &.qtyminus_stat {
                                    left: 0;
                                }
                                &.qtyplus_stat {
                                    right: 0;
                                }
                            }
                        }

                    }
                }
            }

            .actions {
                .button__wrapper {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    margin-bottom: 16px;

                    .button {
                        display: block;
                        margin: 0;
                        border: 0;
                        border-radius: 30px;
                        padding: 12px 25px;
                        font-size: 1.125rem;
                        font-weight: 900;
                        line-height: 1.5;
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        background-color: $color7;
                        color: $color1;

                        &.checkout {
                            background-color: $color5;
                        }

                        &:hover, &:focus {
                            + svg {
                                stroke: $color1;
                                animation-play-state: running;
                            }
                        }

                        &[disabled] {
                            pointer-events: none;
                            color: $color1;
                            padding: 12px 25px;
                            cursor: not-allowed;
                        }
                    }
                    svg {
                        @include position(absolute, 0 null null 0);
                        @include size(100%);
                        pointer-events: none;
                        animation: dashed_border_running 20s linear infinite both;
                        animation-play-state: paused;
                        stroke-width: 2;
                        stroke-dasharray: 9, 5;
                        stroke-dashoffset: 0;
                        stroke-linecap: round;
                        fill: none;
                        transition: 0.3s;
                        stroke: transparent;
                    }
                }
            }
        }

        a.remove {
            display: inline-block;
            @include size(24px);
            margin: 0;
            border-radius: unset;
            font-size: 24px;
            line-height: 22px;
            color: $color4 !important;
            text-shadow: none;
            background: transparent;
            vertical-align: middle;
            cursor: pointer;
            
            &:hover, &:focus {
                background-color: transparent !important;
                color: darken($color4, 25%) !important;
            }
        }
    }

}

