.shop {
    
    &--header {
        background: url(./img/backgrounds/page_title_bg.png) center bottom no-repeat;
        background-size: cover;
        height: 348px;
        margin-bottom: 40px;
        padding-top: 12px;
        padding-bottom: 88px;
        
        h1, .shop--header__title {
            color: $color9;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 120%;
            text-align: center;
            margin: 80px 0 30px;
            
            @media(max-width: 767px) {
                font-size: 1.75rem;
                margin-top: 60px;
            }
        }

        .breadcrumbs {
            color: $color8;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 24px;
            text-align: center;
            a {
                color: inherit;
                transition: opacity .3s ease;
                &:hover {
                    opacity: 1;
                }
            }
            > * {
                opacity: 0.7;
                &.current {
                    opacity: 1;
                }
            }

            .divider:not(:last-child) {
                color: inherit;
                margin: 0 10px;
                opacity: 1;
                
                @include p_el(before, 5px, 5px) {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $color10;
                    border-radius: 50%;
                    transition: 0.3s;
                }
            }
        }
    }

    ul.products.columns-3 {
        margin-right: -30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        
        @media(max-width: 600px) {
            margin-right: 0;
        }

        li.product {
            position: relative;
            border-radius: 30px;
            border: 2px dashed $color5;
            padding: 0 0 36px;
            width: calc(33.33333% - 30px);
            margin: 0 30px 48px 0;
            float: none;
            
            @media(min-width: 993px) and (max-width: 1200px) {
                width: calc(50% - 30px);
            }

            @media(max-width: 767px) {
                width: calc(50% - 30px);
            }

            @media(max-width: 600px) {
                width: 100%;
                margin-right: 0;
            }
            
            &:hover {
                .button, .added_to_cart {
                    transform: translateY(50%);
                    opacity: 1;
                }
            }

            .woocommerce-loop-product__link {
                display: block;
                position: relative;
                padding: 36px 10px 10px;
                overflow: hidden;
                
                &:focus ~ .button, &:focus ~ .added_to_cart {
                    transform: translateY(50%);
                    opacity: 1;
                }

                .woocommerce-loop-product__title {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 900;
                    line-height: 120%;
                    color: $color9;
                    text-align: center;
                    max-width: 200px;
                    min-height: 84px;
                    margin: 0 auto 16px;
                }

                .star-rating {
                    margin: -10px auto 26px;
                    color: $color7;
                }

                .price {
                    display: block;
                    text-align: center;
                    margin: 0;
                    font-size: 1.25rem;
                    font-weight: 900;
                }

                .woocommerce-Price-amount {
                    line-height: 1;
                    color: $color11;
                }

                ins {
                    .woocommerce-Price-amount {
                        color: $color11;
                    }
                }

                del {
                    .woocommerce-Price-amount {
                        color: $color4;
                    }
                }
            }

            .button, .added_to_cart {
                @include position(absolute, null 0 0 0);
                display: inline-block;
                width: 180px;
                text-align: center;
                border-radius: 30px;
                padding: 15.5px 24.2px;
                font-size: 1rem;
                font-weight: 900;
                line-height: 20px;
                background-color: $color5;
                color: $color1;
                margin: auto;
                opacity: 0;
                transition: background-color .3s ease, transform .3s ease, opacity .3s ease;
                
                @include p_el(before, 20px, 20px) {
                    background: url(./img/icons/cart.svg) center center no-repeat;
                    background-size: 20px 20px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 8px;
                }
                &:hover, &:focus {
                    background-color: $color7;
                }

                @media(max-width: 992px) {
                    transform: translateY(50%);
                    opacity: 1;
                }

                &:focus {
                    transform: translateY(50%);
                    opacity: 1;
                }
            }

            .added_to_cart {
                width: 230px;
                background-color: $color11;
                &:hover, &:focus {
                    background-color: $color8;
                }
            }

            .button {
                &.loading {
                    font-size: 0;
                    @include size(110px, 51px);
                    vertical-align: inherit;
                    transform: translateY(50%);
                    opacity: 1;
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: '';
                        @include position(absolute, calc(50% - 14px) null null calc(50% - 14px));
                        @include size(24px);
                        border-radius: 50%;
                        border: 2px solid $color1;
                        border-top-color: $color8;
                        padding: 0;
                        transform: initial;
                        animation: spinner_loading 0.9s linear infinite;
                    }
                }

                &.added {
                    display: none;
                }
            }
        }
    }

    &--products {
        .woocommerce-error, .woocommerce-info, .woocommerce-message {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 1px solid $color14;
            border-radius: 30px;
            font-weight: 800;
            
            &:before {
                height: 22px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .button {
                @extend .button;
                float: none;
                padding: 10px 20px;
                background-color: $color5;
                color: $color1;
                margin-left: auto;
                
                &:hover, &:focus {
                    background-color: $color7;
                    color: $color1;
                }
            }
        }

        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            
            @media(max-width: 992px) {
                display: block;
            }
        }

        &__list {
            width: 100%;
            
            &-sorting {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
                @media(max-width: 600px) {
                    display: block;
                }
                
                .woocommerce-notices-wrapper {
                    margin-bottom: 20px;
                    &:empty {
                        display: none;
                    }
                }

                .woocommerce-result-count {
                    display: inline-block;
                    width: 50%;
                    margin: 0 0 30px;
                    float: none;
                    font-size: 1rem;
                    font-weight: 400;
                    color: $color2;
                    
                    @media(max-width: 600px) {
                        width: 100%;
                        text-align: right;
                    }
                }

                .woocommerce-ordering {
                    display: inline-block;
                    width: 50%;
                    margin: 0 0 30px;
                    float: none;
                    text-align: right;
                    
                    @media(max-width: 600px) {
                        width: 100%;
                    }
                }
            }

            &-orderby {
                display: inline-block;
                position: relative;
                
                select {
                    display: block;
                    @include size(270px, 50px);
                    max-width: 100%;
                    margin: unset;
                    border: unset;
                    outline: unset;
                    padding: 0 35px 0 20px;
                    font-family: inherit;
                    font-size: 1rem;
                    line-height: 1.4;
                    font-weight: 400;
                    background-color: $color3;
                    border-radius: 30px;
                    appearance: none;
                }

                @include p_el(before, 0, 0) {
                    @include position(absolute, 0 20px 0 null);
                    z-index: 0;
                    border-top: 6px solid $color2;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    margin: auto;
                    pointer-events: none;
                }
            }
        }

        &__filter {
            width: 400px;
            padding-right: 30px;

            @media(max-width: 992px) {
                width: 100%;
                padding: 30px 0 0;
            }

            h3 {
                font-size: 1.5rem;
                text-align: center;
                margin: 0 0 25px;
            }

            .widget_product_search {
                margin-bottom: 30px;
                form {
                    position: relative;
                    
                    input[type=search] {
                        @include size(100%, 50px);
                        padding: 0px 50px 0 24px;
                        outline: none;
                        font-weight: 400;
                        overflow: hidden;
                        margin-bottom: 0;
                        border-radius: 25px;
                        border: 0;
                        background: $color3;
                        box-sizing: border-box;
                    }
                    button {
                        @include position(absolute, 0 0 null null);
                        @include size(50px);
                        border: 0;
                        border-radius: 50%;
                        overflow: hidden;
                        z-index: 1;
                        text-indent: 50px;
                        padding: 0;
                        cursor: pointer;
                        
                        background-color: $color7;
                        box-shadow: 0 0 0 5px $color1;
                        transition: background-color .3s ease;
                        
                        &:hover, &:focus {
                            background-color: $color8;
                        }
                        
                        @include p_el(both, null, null) {
                            @include position(absolute, 14px null null 14px);
                            border: 3px solid $color1;
                        }
                        &:before {
                            @include size(18px);
                            border-radius: 50%;
                            border-width: 2px;
                            transform: rotate(45deg);
                            transition: all 0.3s, background-color 0s linear 0s;
                        }
                        &:after {
                            border-width: 0.5px;
                            @include size(0, 8px);
                            left: 32px;
                            top: 32px;
                            margin-left: 0;
                            margin-top: 0;
                            background-color: $color1;
                            transform: translate(-50%, -50%) rotate(-45deg);
                            transition: all 0.3s;
                        }
                    }
                }
            }

            .widget_price_filter {
                margin-bottom: 30px;
                .price_slider {
                    margin-bottom: 1em;

                    &_amount {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 0;
                        font-size: 1rem;
                        line-height: 40px;
                        font-weight: 600;
                        text-transform: capitalize;
                        text-align: right;

                        .button {
                            display: inline-block;
                            height: auto;
                            margin: 0;
                            background-color: transparent;
                            border: 0;
                            border-radius: 0;
                            padding: 0;
                            font-size: 1.125rem;
                            line-height: 24px;
                            color: $color7;
                            box-shadow: none;
                            cursor: pointer;
                            transition: color .3s ease;
                            
                            &:hover, &:focus {
                                background-color: transparent;
                                color: $color8;
                            }
                        }

                        .price_label {
                            font-size: 1rem;
                            font-weight: 600;
                            color: $color2;
                        }
                        span {
                            font-size: 1rem;
                            &.from {
                                margin-left: 10px;
                            }
                        }
                        .clear {
                            display: none;
                        }
                    }
                }

                .price_slider_wrapper .ui-widget-content {
                    border: 0;
                    border-radius: 10px;
                    background-color: rgba($color2, .3);
                }

                .ui-slider {
                    position: relative;
                    text-align: left;
                    margin-left: .5em;
                    margin-right: .5em;
                    
                    .ui-slider-handle {
                        position: absolute;
                        z-index: 2;
                        width: 1em;
                        height: 1em;
                        background-color: $color5;
                        cursor: ew-resize;
                        outline: 0;
                        top: calc(50% - 0.5em);
                        margin-left: -0.5em;
                        border-radius: 50%;
                        font-size: 1rem;
                        
                        @include p_el(after, calc(1em - 4px), calc(1em - 4px)) {
                            @include position(absolute, 2px null null 2px);
                            border-radius: inherit;
                            background: $color1;
                        }
                    }

                    .ui-slider-range {
                        position: absolute;
                        z-index: 1;
                        font-size: .7em;
                        display: block;
                        border: 0;
                        border-radius: 0;
                        background-color: $color5
                    }
                }
                .ui-slider-horizontal {
                    height: 7px;
                    margin: 31px 0 21px;
                    .ui-slider-range {
                        top: 0;
                        height: 100%
                    }
                    .ui-slider-range-min {
                        left: -1px
                    }
                    .ui-slider-range-max {
                        right: -1px
                    }
                }
            }

            .widget_product_categories {
                margin-bottom: 10px;

                .product-categories {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    li {
                        @extend %flex;
                        flex-wrap: wrap;
                        font-size: 1.5rem;
                        font-weight: 900;
                        line-height: 120%;
                    }

                    a {
                        color: $color8;
                        
                        &:hover, &:focus {
                            color: $color11;
                        }
                    }

                    .count {
                        font-size: 1.125rem;
                        color: $color11;
                    }

                    .children {
                        width: 100%;
                        list-style: none;
                        padding-left: 20px;
                        margin: 10px 0 20px;
                        
                        li {
                            font-size: 1.125rem;
                            line-height: 150%;
                        }

                        .count {
                            display: none;
                        }
                    }
                }
            }

            .widget_shopping_cart {
                ul.product_list_widget {
                    padding-top: 16px;
                    li {
                        padding: 0 15px 16px 0;
                        margin-bottom: 16px;
                        
                        a.remove {
                            left: auto;
                            right: 0;
                            top: -16px;
                            font-size: 1.5rem;
                            line-height: 1em;
                            color: $color4 !important;
                            
                            &:hover, &:focus {
                                background-color: transparent !important;
                                color: darken($color4, 25%) !important;
                            }
                        }

                        img {
                            float: left;
                            width: 110px;
                            margin-left: 0;
                            margin-right: 10px;
                            margin-top: -16px;
                            border: 2px dashed $color5;
                            border-radius: 20px;
                        }

                        a {
                            font-size: 1.125rem;
                            font-weight: 800;
                            line-height: 120%;
                            color: $color8;
                        }
                        .quantity {
                            display: block;
                            margin-top: 15px;
                            font-size: 1rem;
                            font-weight: 800;
                            color: $color11;
                        }
                    }
                }

                .blockUI.blockOverlay {
                    background-color: transparent !important;
                    top: -16px;
                }

                .woocommerce-mini-cart__empty-message {
                    text-align: center;
                }

                .total {
                    margin: 0 0 30px;
                    border: 0;
                    font-size: 1.5rem;
                    font-weight: 900;
                    text-align: center;
                    color: $color8;
                    .woocommerce-Price-amount {
                        color: $color11;
                    }
                }

                .buttons {
                    .button__wrapper {
                        display: block;
                        position: relative;
                        text-align: center;
                        margin-bottom: 16px;

                        a.button {
                            display: block;
                            margin: 0;
                            border: 0;
                            border-radius: 30px;
                            padding: 15px 25px;
                            font-size: 1.125rem;
                            font-weight: 900;
                            line-height: 1.5;
                            text-align: center;
                            cursor: pointer;
                            width: 100%;
                            background-color: $color5;
                            color: $color1;
                            
                            &.checkout {
                                background-color: $color7;
                            }

                            &:hover, &:focus {
                                + svg {
                                    stroke: $color1;
                                    animation-play-state: running;
                                }
                            }
                        }
                        svg {
                            @include position(absolute, 0 null null 0);
                            @include size(100%);
                            pointer-events: none;
                            animation: dashed_border_running 20s linear infinite both;
                            animation-play-state: paused;
                            stroke-width: 2;
                            stroke-dasharray: 9, 5;
                            stroke-dashoffset: 0;
                            stroke-linecap: round;
                            fill: none;
                            transition: 0.3s;
                            stroke: transparent;
                        }
                    }
                }
            }
        }
    }

    &--product {

        .woocommerce-error, .woocommerce-info, .woocommerce-message {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 1px solid $color14;
            border-radius: 30px;
            font-weight: 800;
            
            &:before {
                height: 22px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .button {
                @extend .button;
                float: none;
                padding: 10px 20px;
                background-color: $color5;
                color: $color1;
                margin-left: auto;
                
                &:hover, &:focus {
                    background-color: $color7;
                    color: $color1;
                }
            }
        }

        div.product {
            div.images, div.summary {
                margin-bottom: 60px;
                
                @media(max-width: 992px) {
                    margin-bottom: 30px;
                }
            }
            div.images {
                @media(max-width: 992px) {
                    max-width: 400px;
                    margin: auto auto 30px;
                }
            }
        }

        .woocommerce-product-gallery__trigger {
            z-index: 1 !important;
            transition: background-color .3s ease;
            &:before, &:after {
                transition: filter .3s ease;
            }
            &:hover, &:focus {
                background-color: $color5 !important;
                
                &:before, &:after {
                    filter: invert(1);                    
                }
            }

            + .woocommerce-product-gallery__wrapper {
                border: 2px dashed $color5;
                border-radius: 30px;
                overflow: hidden;
            }
        }

        .entry-summary {
            .product_title {
                font-size: 2.5rem;
                
                @media(max-width: 1200px) {
                    font-size: 1.75rem;
                }
            }

            .woocommerce-product-rating {
                .star-rating {
                    color: $color7;
                }
            }

            .price {
                margin-bottom: 36px;
                .woocommerce-Price-amount {
                    font-size: 1.75rem;
                    font-weight: 900;
                    line-height: 1;
                    color: $color11;                    
                }
            }

            .product_meta {
                margin: 43px 0;
                border-top: 1px solid $color14;
                border-bottom: 1px solid $color14;
                padding: 26px 0 29px;
                
                .posted_in {
                    display: block;
                    margin-bottom: 0;
                    font-size: 1.125rem;
                    font-weight: 900;
                    color: $color8;
                    line-height: 160%;
                    padding-left: 110px;
                    text-indent: -110px;
                    
                    a {
                        color: $color2;
                        padding-left: 5px;
                        &:hover, &:focus {
                            color: $color5;
                        }
                    }
                }
            }

            .qty-wrapper {
                display: inline-block;
                position: relative;
                border: 1px solid #ebe9e5;
                border-radius: 28px;
                padding: 0 30px;
                font-weight: 900;
                
                input[type=number] {
                    display: inline-block;
                    @include size(60px, 58px);
                    border: 0;
                    padding: 0 0 0 15px;
                    font-size: 1.5rem;
                    font-weight: 900;
                    color: $color8;
                    appearance: textfield;
                    vertical-align: middle;
                    background: transparent;
                }

                button {
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    top: 0;
                    @include size(39px, 100%);
                    background: none;
                    border: 0;
                    font-size: 1.75rem;
                    color: $color11;
                    transition: color .3s ease;
                    
                    &:hover, &:focus {
                        color: $color5;
                    }

                    &.qtyminus_stat {
                        left: 0;
                    }
                    &.qtyplus_stat {
                        right: 0;
                    }
                }
            }

            button.button {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                border-radius: 30px;
                padding: 22px 40px;
                font-size: 1rem;
                font-weight: 900;
                line-height: 1;
                transition: background .3s ease;
                background-color: $color7;
                margin-left: 8px;
                float: none !important;
                vertical-align: top !important;
                
                &:hover, &:focus {
                    background-color: $color5;
                }

                @media(max-width: 767px) {
                    padding: 22px 30px;
                }
            }
        }

        div.product {
            .woocommerce-tabs {
                margin-top: 45px;
                text-align: center;

                ul.tabs {
                    display: inline-flex;
                    position: relative;
                    margin: 0;
                    border: 2px dashed $color11;
                    border-radius: 30px;
                    padding: 0;
                    font-size: 0;
                    text-align: center;
                    overflow: visible;
                    
                    &:before {
                        content: unset;
                    }

                    li {
                        display: inline-block;
                        position: relative;
                        z-index: 0;
                        margin: 3px;
                        border: 0;
                        border-radius: inherit;
                        padding: 0;
                        text-align: center;
                        cursor: pointer;
                        background: transparent;
                        transition: 0.3s ease-in-out;
                        
                        &:before, &:after {
                            display: none;
                        }

                        a {
                            display: block;
                            position: relative;
                            min-width: 100px;
                            padding: 12px 37px;
                            border-radius: 30px;
                            font-size: 1.125rem;
                            letter-spacing: 0;
                            text-decoration: none;
                            text-transform: capitalize;
                            box-shadow: none;
                            color: $color11;
                            
                            &:hover, &:focus {
                                color: $color5;
                            }

                            @media(max-width: 767px) {
                                padding: 12px 23px;
                                white-space: nowrap;
                            }
                        }

                        &.active {
                            a {
                                background-color: $color11;
                                color: $color1;
                            }
                        }
                    }
                }

                .woocommerce-Tabs-panel {
                    max-width: 90ch;
                    margin: 0 auto 24px;
                    padding: 38px 0 16px 0;
                    text-align: left;
                    
                    > h2, #comments > h2 {
                        display: none;
                    }
                    
                    #reviews #comments {
                        padding-top: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                        
                        ol.commentlist {
                            padding: 0;
                            
                            li {
                                + li {
                                    border-top: 1px solid $color14;
                                    padding-top: 20px;
                                }

                                .comment_container {
                                    position: relative;
                                }
                                
                                img.avatar {
                                    float: none;
                                    width: 60px;
                                    background: none;
                                    border: 0;
                                    border-radius: 50%;
                                }

                                .comment-text {
                                    margin: 0 0 0 70px;
                                    border: 0;
                                    padding: 0 1em;
                                    
                                    .star-rating {
                                        color: $color7;
                                    }

                                    p.meta strong {
                                        font-size: 1.125rem;
                                        color: $color11;
                                    }
                                }
                            }
                        }
                    }

                    #respond #commentform {
                        input {
                            width: auto;
                        }
                        label {
                            display: block;
                            font-weight: 600;
                            margin: 5px 0;
                            &[for="wp-comment-cookies-consent"] {
                                display: inline;
                                margin-top: 0;
                            }
                        }
                    }

                    .comment-reply-title {
                        display: block;
                        font-size: 1.5rem;
                        font-weight: 800;
                        color: $color8;
                        line-height: 1.3;
                    }
                }

                .woocommerce-Tabs-panel--description {
                    b, strong {
                        color: $color11;
                    }
                    ul {
                        list-style: none;
                        padding-left: 20px;
                        li {
                            position: relative;
                            @include p_el(before, 6px, 6px) {
                                @include position(absolute, 8px null null -20px);
                                background-color: $color11;
                                border-radius: 50%;
                            }
                        }
                    }
                    table {
                        td {
                            padding: 10px 0;
                            strong {
                                color: $color11;
                            }
                        }
                        tr + tr > td {
                            border-top: 1px solid $color14;
                        }
                    }
                }
            }
        }

        #review_form #respond {
            margin-top: 50px;
            margin-bottom: 50px;
            border-radius: 30px;
            padding: 38px 50px 34px;
            background: $color3;
            
            @media(max-width: 767px) {
                padding: 28px 30px 24px;
            }
            
            p a {
                color: #f9d322;
            }

            form#commentform {
                margin-left: -15px;
                margin-right: -15px;
                
                input:not([type='checkbox']):not([type='submit']), textarea {
                    display: block;
                    height: 52px;
                    max-width: 100%;
                    margin: 0;
                    border: 1px solid $color4;
                    border-radius: unset;
                    padding: 10px 20px;
                    font-family: inherit;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.7;
                    outline: none;
                    border-radius: 26px;
                    transition: 0.3s;
                    background: $color1;
                }

                > p {
                    padding-left: 0;
                    padding-right: 0;
                    &.comment-form-author, &.comment-form-email {
                        width: 50%;
                        float: left;
                        margin-bottom: 16px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    &.comment-notes {
                        margin-bottom: 20px;
                    }
                    input:not([type='checkbox']):not([type='submit']) {
                        position: relative;
                        width: 100%;
                    }
                    textarea {
                        position: relative;
                        height: 120px;
                        resize: none;
                    }
                    &.comment-notes, &.comment-form-comment, &.form-submit, &.comment-form-cookies-consent {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    &.form-submit {
                        margin-top: 20px;
                        
                        input#submit {
                            display: inline-block;
                            min-width: 150px;
                            margin: 0;
                            border-radius: 30px;
                            outline: none;
                            padding: 12px 30px;
                            font-family: inherit;
                            font-size: 18px;
                            line-height: 28px;
                            color: $color1;
                            letter-spacing: 0.5px;
                            cursor: pointer;
                            vertical-align: top;
                            appearance: none;
                            transition: 0.4s;
                            
                            background-color: $color7;
                            &:hover, &:focus {
                                background-color: $color11;
                            }
                        }
                    }
                }
                > div {
                    &.comment-form-rating {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }

        .related {
            > h2 {
                position: relative;
                z-index: 1;
                margin-bottom: 36px;
                padding-bottom: 0;
                font-size: 1.75rem;
                text-align: center;
                clear: both;
            }
        }

    }
}

@keyframes spinner_loading {
    to {
        transform: rotate(360deg);
    }
}