.main {
	padding: 90px 0;
}

.home {
	&--first {
		position: relative;
		background: url(./img/backgrounds/home_first_back.jpg) center 25% no-repeat;
		background-size: cover;
		height: calc(100vh - 90px);
		min-height: 825px;
		overflow: hidden;

		@media(max-width: 767px) {
			background-position: 60% 25%;
		}

		@include p_el(after, 100%, 100px) {
			@include position(absolute, null 0 -1px 0);
			background: url(./img/backgrounds/home_first_wave.png) center center no-repeat;
		}

		&__blot {

			@media(max-width: 767px) {
				&s {
					display: none;
				}
			}

			&-blue, &-red, &-orange {
				background: center center no-repeat;
				transform: translate(0,0);
				opacity: .8;
				z-index: 0;
			}

			&-blue {
				@include position(absolute, -75px null null -25px);
				background-image: url(./img/backgrounds/home_first_blot_blue.png);
				@include size(248px, 212px);
				animation: moving 15s linear infinite;
				@media(max-width: 992px) {
					display: none;
				}
			}

			&-red {
				@include position(absolute, null null -20px 50%);
				margin-left: -30vw;
				background-image: url(./img/backgrounds/home_first_blot_red.png);
				@include size(280px, 187px);
				animation: moving_2 15s linear infinite;
			}

			&-orange {
				@include position(absolute, null -150px 15px null);
				background-image: url(./img/backgrounds/home_first_blot_orange.png);
				@include size(254px, 244px);
				animation: moving 20s linear infinite;
			}
		}

		&__container {
			@extend %flex;
			height: 100%;
			padding-bottom: 100px;
		}

		&__col {
			position: relative;
			width: 50%;
			padding-bottom: 150px;
			z-index: 1;

			@media(max-width: 992px) {
				width: 75%;
			}
			@media(max-width: 767px) {
				width: 100%;
			}
		}

		&__category {
			display: inline-block;
			background-color: $color10;
			color: $color1;
			font-size: 1rem;
			font-weight: 900;
			text-transform: uppercase;
			padding: 4px 12px;
			border-radius: 4px;
		}

		&__title {
			font-size: 2.5rem;
			line-height: 130%;

			@media(max-width: 767px) {
				font-size: 2rem;
			}
		}

		&__sun {
			@include position(absolute, -50px 30% null null);
			@include size(60px);
			background: url(./img/icons/home__sun.svg) center center no-repeat;
			animation: sunny 10s linear infinite;
			@media(max-width: 767px) {
				display: none;
			}
		}

		&__balloon {
			@include position(absolute, null null 0 0);
			@include size(95px, 110px);
			background: url(./img/icons/home__balloon.svg) center center no-repeat;
			animation: fly 15s linear infinite;
		}
	}

	&--beststayler {

		@media(max-width: 767px) {
			margin: -50px 0;
		}

		.container {
			padding: 0 60px;
		}

		.h {
			font-size: 2.5rem;
			margin: 24px 0 48px;
			text-align: center;

			@media(max-width: 1200px) {
				font-size: 2.25rem;
				margin: 24px -45px 48px;
			}
			@media(max-width: 767px) {
				font-size: 2rem;
			}
		}

		.glide {
			z-index: 2;
		}

		.product_list_widget {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				a {
					display: block;
					position: relative;
					padding: 48px 24px;
					border-radius: 30px;

					img {
						display: block;
						@include size(100%, auto);
						margin: 0 auto 16px;
					}

					.product-title {
						display: block;
						font-size: 1.5rem;
						font-weight: 900;
						line-height: 120%;
						color: $color9;
						text-align: center;
						max-width: 200px;
						margin: 0 auto 16px;
					}

					.woocommerce-Price-amount {
						display: block;
						text-align: center;
						margin-top: 36px;
						font-size: 1.75rem;
						font-weight: 900;
						line-height: 1;
						color: $color11;
					}

					&:hover, &:focus {
						svg {
							animation-play-state: running;
						}
					}
				}
			}
		}
	}

	&--seo {
		position: relative;
		background-color: $color3;
		margin: 100px 0 -160px;
		padding: 125px 0 160px;

		@media(max-width: 767px) {
			padding: 125px 0 60px;
		}

		@include p_el(before, 100%, 100px) {
			@include position(absolute, -100px 0 null 0);
			background: url(./img/backgrounds/home_seo_wave.png) center center no-repeat;
		}

		@include p_el(after, 244px, 183px) {
			@include position(absolute, -125px 8% null null);
			background: url(./img/backgrounds/cloud_footer.png) center center no-repeat;
			background-size: cover;
			pointer-events: none;
		}

		&__container {
			@extend %flex--start__vertical;
			padding: 0 60px;

			@media(max-width: 992px) {
				display: block;
				padding: 0 15px;
			}
		}

		&__col {
			width: 50%;
			padding: 0 16px 0 0;

			& + & {
				padding: 0 0 0 24px;
			}

			@media(max-width: 992px) {
				width: 100%;
				padding: 0;
				max-width: 60ch;
				margin: 0 auto;

				& + & {
					padding: 24px 0 0;
				}
			}
		}

		&__photo {
			position: relative;
			@include p_el(before, 100%, 100%) {
				@include position(absolute, -40px null null -40px);
				background-color: $color1;
				border: 2px dashed $color5;
				border-radius: 30px;
				z-index: 0;
			}
			img {
				position: relative;
				z-index: 1;
				@include size(100%, auto);
				border-radius: 30px;
			}
			@media(max-width: 767px) {
				margin-left: 30px;
			}
		}

		&__text {
			.h {
				font-size: 2.5rem;
				line-height: 120%;
				margin: 0 0 24px;

				span.h--2row__orange {
					background-image: linear-gradient(to top, rgba($color7, 0.5), rgba($color7, 0.5));
				}

				@media(max-width: 1200px) {
					font-size: 2.25rem;
				}
				@media(max-width: 767px) {
					font-size: 2rem;
				}
			}

			a {
				font-size: 1rem;
				font-weight: 900;
				color: $color5;

				&:hover, &:focus {
					color: $color8;
				}
			}
		}

		&__img {
			@include position(absolute, 0);
			pointer-events: none;
			overflow: hidden;
			z-index: 0;

			@media(max-width: 992px) {
				display: none;
			}

			&-balloon {
				@include position(absolute, null null 200px 5vw);
				@include size(58px, 173px);
				background: url(./img/backgrounds/home_seo_ball.png) center center no-repeat;
				background-size: cover;
				pointer-events: none;
				animation: fly 10s linear infinite;

				@media(max-width: 1440px) {
					left: 15px;
				}
			}
			&-rain {
				@include position(absolute, 150px 5vw null null);
				@include size(157px, 178px);
				background: url(./img/backgrounds/home_seo_rain.png) center center no-repeat;
				background-size: cover;
				pointer-events: none;
				animation: fly 20s linear infinite;

				@media(max-width: 1440px) {
					right: -3.5vw;
				}

				@media(max-width: 1200px) {
					right: -5vw;
				}
			}
		}
	}
}

@keyframes moving {
	50% {
		opacity: 1;
		transform: translate(20px,24px) rotate(15deg);
	}
}

@keyframes moving_2 {
	50% {
		opacity: 1;
		transform: translate(0,24px) rotate(-15deg);
	}
}

@keyframes sunny {
	50% {
		transform: rotate(-45deg);
	}
}

@keyframes fly {
	50% {
		transform: translate(0,24px) rotate(10deg);
	}
}