// Base

* {
	&,&:before,&:after {
		box-sizing: border-box;
	}
}

body {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 140%;
	background-color: $color1;
	color: $color2;
	overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	line-height: 140%;
	color: $color9;
}

.h {
	span {
		display: inline;
		margin: 0 -12px;
		padding: 0 12px;
		position: relative;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: 100% 0.521em;
		background-position: 0% 74%;
		transition: background-size 1.8s 0.7s;		
	}

	&--pink {
		span {
			background-image: linear-gradient(to top, rgba($color5, 0.5), rgba($color5, 0.5));
		}

	}

}

// Links

a {
	color: $color9;
	text-decoration: none;
	transition: color .3s ease;
	&:hover, &:focus {
		color: $color9;
		text-decoration: none;
	}
	&:active {
		color: $color9;
	}
	&[disabled] {
		&, &:hover, &:focus, &:active {
			color: $color9;
		}
	}
}

*:focus {
	outline:0;
}

// Form

input, textarea {
	background-color: $input--background;
	font-size: 1rem;
	line-height: 22px;
	padding: 8px 70px 8px 20px;
	font-weight: 400;
	border: unset;
	border-width: 2px;
	border-style: dashed;
	border-radius: 15px;
	color: $input--color;
	transition: border .3s ease, color .3s ease;

	@include placeholder {
		color: $input--color-placeholder;
		transition: color .3s ease;
		opacity: 1;
	}
	&[disabled] {
		background-color: $input--background-disabled;
		border-color: $input--border-disabled;
	}
}

// Flex

%flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex--start__horizont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

%flex--start__vertical {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
	    width: 1170px;
	}
}

.logo {
	&--link {
		@extend %flex--start__horizont;
		align-items: flex-end;
	}
	&--face {
		display: inline-block;
		margin-right: 8px;
		img {
			vertical-align: top;
		}
	}
	&--text {
		display: inline-block;
		font-size: 1.125rem;
		font-weight: 900;
		line-height: 14px;
		text-transform: uppercase;
		color: $color5;
		span {
			display: block;
			color: $color9;
			margin-bottom: 8px;
		}
	}
}

.button {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-radius: 30px;
	padding: 20px 40px;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1;
	transition: background .3s ease;

	&--arrow {
		display: inline-block;
		@include size(16px);
		margin-left: 8px;
		background: url(./img/icons/button__arrow.svg) center center no-repeat;
		background-size: 16px 16px;
	}

	&--dashes {
		@include position(absolute, 0 null null 0);
		@include size(100%);
		pointer-events: none;
		animation: dashed_border_running 20s linear infinite both;
		animation-play-state: paused;
		stroke-width: 2;
		stroke-dasharray: 9, 5;
		stroke-dashoffset: 0;
		stroke-linecap: round;
		fill: none;
		
		&__white {
			stroke: $color1;
		}
		&__pink {
			stroke: $color5;
		}
	}
	
	&:hover, &:focus {
		svg {
			animation-play-state: running;
		}
	}

	&--orange {
		color: $color1;
		background-color: $color7;
		
		&:hover, &:focus {
			color: $color1;
			background-color: $color11;
		}
	}
}

@keyframes dashed_border_running {
	100% {
		stroke-dashoffset: -1000;
	}
}

@import 'slider';
