// Base

* {
	&,&:before,&:after {
		box-sizing: border-box;
	}
}

body {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 140%;
	background-color: $color1;
	color: $color2;
	overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	line-height: 140%;
	color: $color9;
}

// Links

a {
	color: $color9;
	text-decoration: none;
	transition: color .3s ease;
	&:hover, &:focus {
		color: $color9;
		text-decoration: none;
	}
	&:active {
		color: $color9;
	}
	&[disabled] {
		&, &:hover, &:focus, &:active {
			color: $color9;
		}
	}
}

*:focus {
	outline:0;
}

// Form

input, textarea {
	background-color: $input--background;
	font-size: 1rem;
	line-height: 22px;
	padding: 8px 70px 8px 20px;
	font-weight: 400;
	border: unset;
	border-width: 2px;
	border-style: dashed;
	border-radius: 15px;
	color: $input--color;
	transition: border .3s ease, color .3s ease;

	@include placeholder {
		color: $input--color-placeholder;
		transition: color .3s ease;
		opacity: 1;
	}
	&[disabled] {
		background-color: $input--background-disabled;
		border-color: $input--border-disabled;
	}
}

// Flex

%flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex--start__horizont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

%flex--start__vertical {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
	    width: 1170px;
	}
}

.logo {
	&--link {
		@extend %flex--start__horizont;
	}
	&--face {
		display: inline-block;
		margin-right: 8px;
		img {
			vertical-align: top;
		}
	}
	&--text {
		display: inline-block;
		font-size: 1.125rem;
		font-weight: 900;
		line-height: 20px;
		text-transform: uppercase;
		color: $color5;
		span {
			display: block;
			color: $color9;
		}
	}
}