// Input

$input--background:					transparent;
$input--background-disabled:		#F5F5F5;
$input--border-disabled:			#C4C4C4;
$input--color:						#70747F;
$input--color-placeholder:			rgba(#70747F, .5);

$input--label__background:			#F5F5F5;
$input--label__background-hover:	#E5FFE6;
$input--label__background-disabled:	#F5F5F5;
$input--label__color:				#757575;
$input--label__color-hover:			#4CAF50;

// Colors

$color0:							#000;
$color1:							#fff;
// Gray
$color2:							#70747F;
$color3:							#FCF9F4;
$color4:							#C4C4C4;
// Pink
$color5:							#FEB9CC;
// Orange
$color6:							#FFA245;
$color7:							#FFC85B;
// Blue
$color8:							#2D4073;
$color9:							#122659;
$color10:							#89D4F3;
$color11:							#45B3DF;

$color12:							#434344;
$color13:							#2d2d2d;

// Media

$laptop:							1170px;
$tablet:							992px;
$mobile:							767px;