// Input

$input--background:					#fff;
$input--background-disabled:		#F5F5F5;
$input--border:						#707070;
$input--border-hover:				#F36F21;
$input--border-focus:				#F36F21;
$input--border-disabled:			#E0E0E0;
$input--color:						#3A4045;
$input--color-placeholder:			rgba(#3A4045, .5);

$input--label__background:			#F5F5F5;
$input--label__background-hover:	#E5FFE6;
$input--label__background-disabled:	#F5F5F5;
$input--label__color:				#757575;
$input--label__color-hover:			#4CAF50;

// Colors

$color0:							#000;
$color1:							#fff;
$color2:							#F8FBFF;
$color3:							#3A4045;
$color4:							#F36F21;
$color5:							#707070;
$color6:							#f38b3a;

// Media

$laptop:							1170px;
$tablet:							992px;
$mobile:							767px;